#board {
    border: 5px solid black;
    height: 500px;
    width: 800px;
    margin: auto;
}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50%);
    left: calc(50%);
    background-color: blue;
  }

.paddle {
    top: calc(17.5vh + 100px);
    height: 150px;
    width: 30px;
    position: fixed;
    border: 1px black solid;
    border-radius: 20px;
}

#paddle_1 {
    
    left: calc(16vw + 30px);
    background-color: green;
}

#paddle_2 {
    
    right: calc(16vw + 30px);
    background-color: yellow;
}